/*  *, *::after, *::before {
//    box-sizing: border-box;
//}*/

.scrodal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

    .scrodal.active {
        transform: translate(-50%, -50%) scale(1);
    }

.scrodal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

    .scrodal-header .title {
        font-size: 1.25rem;
        font-weight: bold;
    }

    .scrodal-header .close-button {
        cursor: pointer;
        border: none;
        outline: none;
        background: none;
        font-size: 1.25rem;
        font-weight: bold;
    }

.scrodal-body {
    padding: 10px 15px;
}

#scroverlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

    #scroverlay.active {
        opacity: 1;
        pointer-events: all;
    }body {
}


.htmlmodal {
     padding: 1em;
    max-width: 50ch;
     border: 0;
     box-shadow: 0 0 1em rgb(0 0 0 / .3);

}

.htmlmodal::backdrop {
    background: rgb(0 0 0 / 0.4);
}

/* extra styling */

htmlmodalbody {
    min-height: 100vh;
    margin: 2rem;
    font-family: system-ui;
    font-size: 1.25rem;
    line-height: 1.5;
    color: var(--gray-8);
    // background-image: url('https://images.unsplash.com/photo-1644242629712-943ae5c8c4f3?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0Njc1MjQxNA&ixlib=rb-1.2.1&q=85');
    // background-size: cover;
}




