<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="1DefaultConnection"
      connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=C:\Users\mkolassa\Documents\Visual Studio 2017\Projects\Kolassa.DesignCentre\Kolassa.DesignCentre.UI\App_Data\DesignCentre.mdf;Initial Catalog=DesignCentre;Integrated Security=True"
      providerName="System.Data.SqlClient"/>
    <add name="DefaultConnection"
      connectionString="Data Source=SQL5039.site4now.net;Initial Catalog=DB_A39474_mkolassa;User Id=DB_A39474_mkolassa_admin;Password=DesignCenter1!;"
      providerName="System.Data.SqlClient"/>
    <add name="ReportManager"
      connectionString="Data Source=SQL5039.site4now.net;Initial Catalog=DB_A39474_mkolassa;User Id=DB_A39474_mkolassa_admin;Password=DesignCenter1!;"
      providerName="System.Data.SqlClient"/>
    <add name="2DefaultConnection"
      connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DesignCentre.mdf;Initial Catalog=DesignCentre;Integrated Security=True"
      providerName="System.Data.SqlClient"/>
    <add name="2ReportManager"
      connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DesignCentre.mdf;Initial Catalog=DesignCentre;Integrated Security=True"
      providerName="System.Data.SqlClient"/>
    <add name="ReportManagerOLD"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\data\mkolassa\Visual Studio\Projects\WebSites\Select\App_Data\legadata.mdb;User Id=Master;Password=Cubs1;Jet OLEDB:System Database=C:\data\mkolassa\Visual Studio\Projects\WebSites\Select\App_Data\Parallax.mdw;"/>
    <add name="DefaultConnection2"
      connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-Kolassa.DesignCentre.UI-20180203122647.mdf;Initial Catalog=aspnet-Kolassa.DesignCentre.UI-20180203122647;Integrated Security=True"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.7.2">

    </compilation>
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>